html, body {
    margin: 0;
    padding: 0;
}

body  {
  background-image: url("gradient.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

#main {
    position: relative;
    width:100%;
    height: 100%;
    overflow: auto;
}

#timeline {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10px;
    margin: auto;
}

.entry {
    height:100px;
}

.event {
    display: inline-block;
    position:relative;
    width:500px;
    height:50px;
}

.event_content {
    display: inline-block;
    border-radius: 25px;
    box-shadow:0px 0px 0px 2px #5392DB inset;
    background-color: #E8F1FF;
    height:100%;
    width: 100%;
    /* padding-left: 5px; */
    align-content: center;
}

.arrow {
  /* display: inline-block; */
  color: white;
  width: 14%;
  height:100%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
